@font-face {
    font-family: 'pokemon ds font';
    font-style: normal;
    font-weight: 400;
    src: url("../font/pokemon-ds-font.woff2") format('woff2');
}

#uiFight {
    font-family:pokemon ds font;
    /* background-color: black; */
    width: 100%;
    height: 100%;
	background-size: 100% 100%;
    color: white;
    position: absolute;
}
/* --------------- anim */
#uiFight > :nth-child(1) {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* --------------- pokemons back */
#uiFight > :nth-child(2) > * > :nth-child(1) {
    position: absolute;
    bottom: 10px;
	left: 10px;
}

#uiFight > :nth-child(2) > * > :nth-child(2) {
    position: absolute;
	top: 475px;
	left: 400px;
}

/* --------------- pokemons front */
#uiFight > :nth-child(3) > * > :nth-child(1) {
    position: absolute;
    top: 10px;
	right: 10px;
}

#uiFight > :nth-child(3) > * > :nth-child(2) {
    position: absolute;
	top: 200px;
	left: 1100px;
}

/* --------------- pokemons info */
.uiFight-pokemonsInfo > :nth-child(1) {
    width: 300px;
	background-color: #4A4B50;
	border: 5px solid #969696;
	border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 5px;
}

.uiFight-pokemonsInfo > :nth-child(1) > :nth-child(1) {
    font-size: 30px;
    display: inline-block;
    width: 215px;
    white-space: nowrap;
    overflow: hidden; 
}

.uiFight-pokemonsInfo > :nth-child(1) > :nth-child(2) {
    font-size: 20px;
    display: inline-block;
    width: 55px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden; 
}

.uiFight-pokemonsInfo > :nth-child(1) > :nth-child(3) {
    position: relative;
    height: 10px;
    width: 100%;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
}

.uiFight-pokemonsInfo > :nth-child(1) > :nth-child(3) > :nth-child(1) {
    position: absolute;
    height: 100%;
    background-color: rgb(110, 0, 0);
}

.uiFight-pokemonsInfo > :nth-child(1) > :nth-child(3) > :nth-child(2) {
    position: absolute;
    height: 100%;
    background-color: green;
}

.uiFight-pokemonsInfo > :nth-child(2) {
	width: 400px;
	height: 400px;
	background-size:50% 50%;
	background-repeat: no-repeat;
	background-position: 50% 100%;
}

/* --------------- menu */
#uiFight > :nth-child(4) {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#uiFight > :nth-child(4) > *{
    width: 300px;
    height: 58px;
	background-color: #4A4B50;
	border: 5px solid #969696;
	border-radius: 15px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin-left: 20PX;
    cursor: pointer;
}

#uiFight > :nth-child(4) > *:hover {
	background-color: #404144;
}

#uiFight > :nth-child(4) > * > *{
    width: 100%;
    text-align: center;
    font-size: 50px;
}